.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.form button {
  border-radius: 5px;
}
.form input {
  margin: 0;
}

.error {
  color: #e03939;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.movie {
  text-align: center;
}
.movies img {
  border-radius: 8px;
}